<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Authentication error</h1>
        <p class="lead">
            داداش بیش از حد با سایت کار نکردی و یا اینکه لاگین نکردی لطفا از گیت ورود رد شو
        </p>
        <a href="/users/login" class="btn btn-primary">Go Login</a>
    </div>
</div>